/* screen - 2-u4359u4469u4352u4461u4369u4461 */

.x2-u4359u4469u4352u4461u4369u4461 {
  align-items: flex-end;
  background: linear-gradient(180deg, rgb(246, 237, 229) 21.21%, rgb(19, 82, 65) 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  flex-direction: column;
  gap: 109px;
  height: 1546px;
  overflow: hidden;
  padding: 63.0px 0;
  width: 1080px;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-21 {
  color: transparent;
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: -2.00px;
  line-height: 87.0px;
  margin-right: -100px;
  margin-top: 44px;
  min-height: 261px;
  width: 1080px;
}

.x2-u4359u4469u4352u4461u4369u4461 .span0 {
  color: #696969;
  letter-spacing: -1.36px;
}

.x2-u4359u4469u4352u4461u4369u4461 .span1 {
  letter-spacing: -1.36px;
}

.x2-u4359u4469u4352u4461u4369u4461 .overlap-group2 {
  height: 1006px;
  margin-right: 1px;
  position: relative;
  width: 1079px;
}

.x2-u4359u4469u4352u4461u4369u4461 .overlap-group1 {
  height: 861px;
  left: 66px;
  position: absolute;
  top: 0;
  width: 957px;
}

.x2-u4359u4469u4352u4461u4369u4461 .table {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 37.24px;
  display: flex;
  height: 696px;
  left: 0;
  overflow: hidden;
  padding: 0.5px 0;
  position: absolute;
  top: 33px;
  width: 912px;
}

.x2-u4359u4469u4352u4461u4369u4461 .overlap-group {
  height: 694px;
  position: relative;
  width: 1005px;
}

.x2-u4359u4469u4352u4461u4369u4461 .rectangle-3697 {
  background-color: #d3d3d3;
  height: 149px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1005px;
}

.x2-u4359u4469u4352u4461u4369u4461 .frame-10997 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 129px;
  left: 45px;
  min-height: 522px;
  padding: 130.3px 0;
  position: absolute;
  top: 149px;
  width: 819px;
}

.x2-u4359u4469u4352u4461u4369u4461 .rectangle-369 {
  border: 0.93px dashed;
  border-color: var(--suva-gray);
  height: 1px;
  margin-left: 0;
  width: 819px;
}

.x2-u4359u4469u4352u4461u4369u4461 .view {
  align-items: center;
  border-radius: 27.93px;
  display: flex;
  flex-direction: column;
  left: 189px;
  min-height: 693px;
  padding: 48.4px 26.6px;
  position: absolute;
  top: 1px;
  width: 347px;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-22 {
  color: #595959;
  font-family: var(--font-family-pretendard-semibold);
  font-size: 37.2px;
  font-weight: 600;
  letter-spacing: -0.93px;
  line-height: 55.9px;
  margin-left: 9.31px;
  min-height: 56px;
  text-align: center;
  width: 127px;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-23 {
  letter-spacing: -0.93px;
  line-height: 50.3px;
  margin-left: 0.74px;
  margin-top: 84px;
  min-width: 213px;
  text-align: center;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-24 {
  letter-spacing: -0.93px;
  line-height: 50.3px;
  margin-left: 0.74px;
  margin-top: 80px;
  min-width: 213px;
  text-align: center;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .ex {
  align-self: flex-end;
  letter-spacing: -0.93px;
  line-height: 46.9px;
  margin-top: 65px;
  min-height: 81px;
  min-width: 275px;
  text-align: center;
}

.x2-u4359u4469u4352u4461u4369u4461 .span0-1 {
  letter-spacing: -0.31px;
}

.x2-u4359u4469u4352u4461u4369u4461 .span1-1 {
  color: var(--fuscous-gray);
  font-family: var(--font-family-pretendard-regular);
  font-size: 26.1px;
  font-weight: 400;
  letter-spacing: -0.24px;
  line-height: 36.5px;
}

.x2-u4359u4469u4352u4461u4369u4461 .x {
  letter-spacing: -0.93px;
  line-height: 46.9px;
  margin-left: 9.81px;
  margin-top: 67px;
  min-height: 47px;
  min-width: 169px;
  text-align: center;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .view-1 {
  border-radius: 27.93px;
  left: 28px;
  min-height: 823px;
  padding: 190.7px 0.4px;
  top: 38px;
  width: 175px;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-25 {
  letter-spacing: -0.93px;
  line-height: 44.7px;
  margin-right: 30.78px;
  min-height: 45px;
  min-width: 107px;
  position: relative;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-26 {
  letter-spacing: -0.93px;
  line-height: 44.7px;
  margin-right: 30.72px;
  margin-top: 85px;
  min-height: 45px;
  width: 107px;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-27 {
  letter-spacing: -0.93px;
  line-height: 41.7px;
  margin-right: 30.78px;
  margin-top: 87px;
  min-height: 42px;
  min-width: 107px;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-28 {
  align-self: flex-end;
  letter-spacing: -0.93px;
  line-height: 41.7px;
  margin-top: 92px;
  min-height: 42px;
  min-width: 156px;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .view-2 {
  background-color: var(--jewel);
  border-radius: 37.24px;
  box-shadow: -18.62px 18.62px 27.93px #00000026;
  left: 558px;
  min-height: 758px;
  padding: 65.2px 35.4px;
  top: 0;
  width: 399px;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-29 {
  color: var(--white);
  font-family: var(--font-family-pretendard-bold);
  font-size: 48.4px;
  font-weight: 700;
  letter-spacing: -0.93px;
  line-height: 72.6px;
  margin-right: 0.36px;
  min-height: 73px;
  min-width: 124px;
  text-align: center;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-30 {
  letter-spacing: -0.85px;
  line-height: 44.2px;
  margin-left: 2.51px;
  margin-top: 58px;
  min-height: 88px;
  min-width: 306px;
  text-align: center;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-31 {
  letter-spacing: -0.85px;
  line-height: 51px;
  margin-left: 5.2px;
  margin-top: 61px;
  min-width: 224px;
  text-align: center;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .x-1 {
  letter-spacing: -0.85px;
  line-height: 51px;
  margin-left: 5.4px;
  margin-top: 77px;
  min-width: 188px;
  text-align: center;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-32 {
  align-self: flex-start;
  letter-spacing: -0.85px;
  line-height: 51px;
  margin-top: 86px;
  min-width: 325px;
  text-align: center;
  white-space: nowrap;
}

.x2-u4359u4469u4352u4461u4369u4461 .text-33 {
  color: var(--merino);
  font-family: var(--font-family-pretendard-bold);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 0;
  letter-spacing: -0.53px;
  line-height: 52.0px;
  position: absolute;
  text-align: center;
  top: 852px;
  width: 1079px;
}

.x2-u4359u4469u4352u4461u4369u4461 .span0-2 {
  font-weight: 700;
  letter-spacing: -0.21px;
}

.x2-u4359u4469u4352u4461u4369u4461 .span1-2 {
  font-family: var(--font-family-pretendard-medium);
  font-weight: 500;
  letter-spacing: -0.21px;
}

.x2-u4359u4469u4352u4461u4369u4461 .view-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
}
